@charset "UTF-8";
:root {
  --fs--2: clamp(0.8784rem, 0.8627rem + 0.0781vw, 0.9877rem);
  --fs--1: clamp(0.9372rem, 0.9124rem + 0.1242vw, 1.1111rem);
  --fs-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
  --fs-1: clamp(1.067rem, 1.0185rem + 0.2423vw, 1.4063rem);
  --fs-2: clamp(1.1385rem, 1.0751rem + 0.3168vw, 1.582rem);
  --fs-3: clamp(1.2148rem, 1.1341rem + 0.4036vw, 1.7798rem);
  --fs-4: clamp(1.2962rem, 1.1953rem + 0.5044vw, 2.0023rem);
  --fs-5: clamp(1.383rem, 1.2588rem + 0.6211vw, 2.2525rem);
  --grid-row-gap: 0;
  --grid-column-gap: 1rem;
  --padding-inline: 1rem;
  --content-max-width: 60rem;
  --content-min-width: 40rem;
  --wider-block-max-width: 80rem;
  --wider-block-size: calc(
    (var(--wider-block-max-width) - var(--content-max-width)) / 2
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100vh;
  color-scheme: light dark;
  overflow-x: clip;
}

body {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-0);
  line-height: 1.25;
  min-height: 100vh;
  display: grid;
  grid-template-rows: [info-start] auto [info-end header-start] auto [header-end main-start] 1fr [main-end footer-start] auto [footer-end];
  row-gap: var(--grid-row-gap);
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

a {
  text-decoration: none;
}

.content-grid,
.full-width {
  max-width: 100%;
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [wider-block-start] minmax(0, var(--wider-block-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--wider-block-size)) [wider-block-end] minmax(var(--padding-inline), 1fr) [full-width-end];
  -moz-column-gap: var(--grid-column-gap);
       column-gap: var(--grid-column-gap);
}

.content-grid > :not(.wider-block, .full-width),
.full-width > :not(.wider-block, .full-width) {
  grid-column: content;
}

.content-grid > .wider-block {
  grid-column: wider-block;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.information {
  grid-row: info;
}

header {
  grid-row: header;
}

main {
  grid-row: main;
}

footer {
  grid-row: footer;
}

.box {
  background: var(--contrast);
  color: var(--color);
  border: 1px solid var(--border-color);
}

.box[data-type=warning] {
  --color: rgb(224, 89, 89);
}

.box[data-type=info] {
  --color: rgb(26, 26, 118);
}

.box[data-type=success] {
  --color: rgb(9, 74, 9);
}

.box[data-type=error] {
  --color: orangered;
}

.box[data-type=attention] {
  --color: rgb(218, 193, 0);
}

.information {
  text-align: center;
  font-size: var(--fs--1);
  padding: 0.6em;
  margin: 0.2em;
}

header {
  background-color: var(--clr-header-bg);
  padding: 0.2em 0;
}
header #logo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
header #logo img {
  height: 42px;
}
header #logo a {
  font-size: 2.4em;
  font-weight: 700;
  display: flex;
  align-items: center;
}
header #logo .logoletters {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
header #logo .logoletters .desc {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 0.6em;
  line-height: 1;
}
header a {
  text-decoration: none;
  font-size: var(--fs--1);
  color: var(--clr-header-text);
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
header nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  align-items: center;
  justify-content: center;
}
header nav #theme_toggle_btn {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
}
header nav #theme_toggle_btn img {
  height: 1.5em;
  width: 1.5em;
}
header #theme-toggle {
  cursor: pointer;
}

main {
  display: flex;
  gap: 2em;
  margin-top: 2rem;
}
main aside,
main section {
  padding: 0;
}
main aside {
  width: clamp(10em, 30%, 30em);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "PT Sans Narrow", serif;
  font-weight: 400;
  font-style: normal;
}
main aside h2 {
  margin: 0;
  color: var(--clr-bg);
  background-color: color-mix(in lab, currentcolor 30%, var(--clr-text) 70%);
  padding: 0.3em 0.2em;
  margin-bottom: 0.1rem;
  font-size: var(--fs-2);
}
main aside h2::before {
  content: "⁝";
  padding: 0.3em;
}
main aside a {
  padding: 0.4em 0.5em 0.5em 1.4em;
  margin: 1px 0;
}
main aside a:last-child {
  padding-bottom: 0.7em;
  margin-bottom: 0;
}
main .categories_list ul {
  list-style: none;
}
main section {
  width: clamp(20em, 98%, 46em);
}
main section h2:nth-child(1),
main aside h2:nth-child(1) {
  margin-top: 0;
}
main h1 {
  font-size: var(--fs-5);
  margin: 1.3em 0 0.7em;
}
main h2 {
  font-size: var(--fs-4);
  margin: 1.1em 0 0.6em;
}
main h3 {
  font-size: var(--fs-3);
  margin: 0.9em 0 0.5em;
}
main h4 {
  font-size: var(--fs-2);
  margin: 0.7em 0 0.4em;
}
main h5 {
  font-size: var(--fs-1);
  margin: 0.5em 0 0.3em;
}
main h6 {
  font-size: var(--fs-0);
  margin: 0.3em 0 0.2em;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: var(--clr-text);
}
main p {
  font-size: var(--fs-0);
  text-indent: 2em;
  text-align: justify;
  margin: 0.4em 0;
  color: var(--clr-text);
  line-height: 1.25;
}
main #tags a {
  text-wrap: nowrap;
  margin-right: 0.4em;
}
main #tags a::before {
  content: "#";
}

.pagination {
  margin-top: 1.4em;
}
.pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer {
  font-size: var(--fs--1);
  padding-bottom: 1em;
}/*# sourceMappingURL=main.css.map */