@charset "UTF-8";
:root {
  --fs--3: clamp(0.651rem, 0.6186rem + 0.1621vw, 0.8779rem);
  --fs--2: clamp(0.7813rem, 0.7518rem + 0.1474vw, 0.9877rem);
  --fs--1: clamp(0.9375rem, 0.9127rem + 0.124vw, 1.1111rem);
  --fs-0: clamp(1.125rem, 1.1071rem + 0.0893vw, 1.25rem);
  --fs-1: clamp(1.35rem, 1.342rem + 0.0402vw, 1.4063rem);
  --fs-2: clamp(1.582rem, 1.6254rem + -0.0271vw, 1.62rem);
  --fs-3: clamp(1.7798rem, 1.9675rem + -0.1173vw, 1.944rem);
  --fs-4: clamp(2.0023rem, 2.38rem + -0.2361vw, 2.3328rem);
  --fs-5: clamp(2.2525rem, 2.8775rem + -0.3906vw, 2.7994rem);
  --fs-6: clamp(2.5341rem, 3.4771rem + -0.5894vw, 3.3592rem);
  --line-height: 1.6;
  --line-height-prev: 1.4;
  --img-margin: 5mm;
  --br: 0.4rem;
  --box-shadow: 0px 3px 6px var(--clr-shadow);
  --border: 1px solid var(--clr-border);
  --padding-inline: 0rem;
  --content-max-width: 66rem;
  --content-min-width: 40rem;
  --wider-block-max-width: 80rem;
  --wider-block-size: calc(
    (var(--wider-block-max-width) - var(--content-max-width)) / 2
  );
  --grid-row-gap: 0;
  --grid-column-gap: 0rem;
  --tr-time: 150ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100vh;
  color-scheme: light dark;
}

body {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-0);
  min-height: 100vh;
  display: grid;
  grid-template-rows: [info-start] auto [info-end header-start] auto [header-end main-start] 1fr [main-end footer-start] auto [footer-end];
  row-gap: var(--grid-row-gap);
  background-color: var(--clr-bg);
  color: var(--clr-text);
  position: relative;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--clr-link);
  transition: color var(--tr-time) ease-out;
}

a:hover {
  color: var(--clr-linkhover);
  transition: color var(--tr-time) ease-out;
}

.content-grid,
.full-width {
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [wider-block-start] minmax(0, var(--wider-block-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--wider-block-size)) [wider-block-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.wider-block, .full-width),
.full-width > :not(.wider-block, .full-width) {
  grid-column: content;
}

.content-grid > .wider-block {
  grid-column: wider-block;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.information {
  grid-row: info;
}

header {
  grid-row: header;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

main {
  grid-row: main;
  z-index: 50;
}

footer {
  grid-row: footer;
  z-index: 40;
}

.box {
  background: var(--contrast);
  color: var(--color);
  border: 1px solid var(--clr-box-border);
}

.box[data-type=warning] {
  --color: rgb(224, 89, 89);
}

.box[data-type=info] {
  --color: rgb(26, 26, 118);
}

.box[data-type=success] {
  --color: rgb(9, 74, 9);
}

.box[data-type=error] {
  --color: orangered;
}

.box[data-type=attention] {
  --color: rgb(218, 193, 0);
}

.information {
  text-align: center;
  font-size: var(--fs--1);
  padding: 0.6em;
  margin: 0.2em;
}

header {
  background-color: var(--clr-header-bg-opc);
  padding: 0.2em 0;
  box-shadow: var(--box-shadow);
  border-bottom: var(--border);
  border-top: var(--border);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-blend-mode: multiply;
}
header .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
header .wrapper #logo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
header .wrapper #logo img {
  height: 42px;
}
header .wrapper #logo a {
  font-size: 2.4em;
  font-weight: 700;
  display: flex;
  align-items: center;
}
header .wrapper #logo .logoletters {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
header .wrapper #logo .logoletters .desc {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 0.6em;
  line-height: var(--fs--2);
}
header .wrapper nav {
  display: flex;
  gap: 1em;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: var(--fs--1);
}
header .wrapper .tags {
  position: relative;
  height: 100%;
  padding: 0.4em 1.2em 0.6em;
  cursor: pointer;
  border-radius: var(--br);
}
header .wrapper .tags:hover,
header .wrapper .tags .open {
  background-color: var(--clr-bg-opc);
}
header .wrapper .tags.open .tags_items {
  display: flex;
  top: 100%;
  opacity: 1;
  transition: display 0ms, all var(--tr-time) ease-out;
  transition-behavior: allow-discrete;
}
header .wrapper .tags strong::before {
  display: inline-block;
  transform: rotate(45deg);
  content: "𖤘";
  padding-right: 0.3em;
}
header .wrapper .tags .tags_items {
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 0.4em;
  padding: 0.4em;
  border-radius: var(--br);
  background-color: var(--clr-link-bg);
  top: 200%;
  opacity: 0;
  left: 0;
  box-shadow: var(--box-shadow);
  border: var(--border);
  transition: all var(--tr-time) ease-out;
  transition-behavior: allow-discrete;
}
header .wrapper .tags .tags_items a {
  padding: 0.4em 1em 0.5em 1.4em;
  margin: 1px 0;
  background-color: var(--clr-link-bg);
  transition: background-color var(--tr-time) ease-out;
}
header .wrapper .tags .tags_items a:last-child {
  padding-bottom: 0.7em;
  margin-bottom: 0;
}
header .wrapper .tags .tags_items a:hover, header .wrapper .tags .tags_items a:focus, header .wrapper .tags .tags_items a:active {
  background-color: var(--clr-linkhover-bg);
  transition: background-color var(--tr-time) ease-out;
}
header .wrapper #theme_toggle_btn {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  transform: translateY(3px);
}
header .wrapper #theme_toggle_btn img {
  height: 24px;
  width: 24px;
}
header #theme-toggle {
  cursor: pointer;
}

main {
  display: flex;
  gap: 2em;
  margin: 1.6em 0;
}
main hr {
  width: 38.2%;
}
main aside,
main section {
  padding: 0;
}
main aside {
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans Narrow", serif;
  font-weight: 400;
  font-style: normal;
  line-height: var(--fs-1);
}
main aside h2 {
  margin: 0;
  color: var(--clr-bg);
  background-color: var(--clr-secondary-text);
  padding: 0.3em 0.2em;
  margin-bottom: 0.1rem;
  font-size: var(--fs-2);
}
main aside h2::before {
  display: inline-block;
  font-size: var(--fs-0);
  transform: rotate(45deg);
  content: "𖤘";
  padding: 0.3em;
}
main aside a {
  padding: 0.4em 1em 0.5em 1.4em;
  margin: 1px 0;
  background-color: var(--clr-link-bg);
  transition: background-color var(--tr-time) ease-out;
}
main aside a:last-child {
  padding-bottom: 0.7em;
  margin-bottom: 0;
}
main aside a:hover, main aside a:focus, main aside a:active {
  background-color: var(--clr-linkhover-bg);
  transition: background-color var(--tr-time) ease-out;
}
main section h1:nth-child(1),
main aside h2:nth-child(1) {
  margin-top: 0;
}
main h1 {
  font-size: var(--fs-5);
  margin: 0.625em 0 0.5em;
}
main h2 {
  font-size: var(--fs-4);
  margin: 0.5em 0 0.4em;
}
main h3 {
  font-size: var(--fs-3);
  margin: 0.375em 0 0.3em;
}
main h4 {
  font-size: var(--fs-2);
  margin: 0.25em 0 0.2em;
}
main h5 {
  font-size: var(--fs-1);
  margin: 0.125em 0 0.1em;
}
main h6 {
  font-size: var(--fs-0);
  margin: 0em 0 0em;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: var(--clr-text);
}
main .post_preview {
  clear: both;
}
main article,
main .post_preview {
  margin-bottom: 2em;
}
main article ul,
main article ol,
main .post_preview ul,
main .post_preview ol {
  line-height: var(--line-height);
}
main article li,
main .post_preview li {
  list-style-position: inside;
  margin-bottom: 0.4em;
}
main article li:last-child,
main .post_preview li:last-child {
  margin-bottom: 1.4em;
}
main article li::marker,
main .post_preview li::marker {
  margin: 0 1em;
}
main article p,
main .post_preview p {
  margin: 0.6em 0;
}
main article .left,
main .post_preview .left {
  float: left;
  margin: var(--img-margin);
  margin-left: 0;
}
main article .right,
main .post_preview .right {
  float: right;
  margin: var(--img-margin);
  margin-right: 0;
}
main article .center,
main article img.full-width,
main .post_preview .center,
main .post_preview img.full-width {
  margin-inline: 0;
  padding: 0;
  max-width: 100%;
}
main article img,
main .post_preview img {
  margin: var(--img-margin);
}
main article img:first-child,
main .post_preview img:first-child {
  margin-top: 0.6em;
}
main article .large,
main .post_preview .large {
  float: none;
  margin-inline: 0;
}
main article p,
main article ul,
main article ol,
main article li,
main .post_preview p,
main .post_preview ul,
main .post_preview ol,
main .post_preview li {
  line-height: var(--line-height-prev);
  margin: 0;
}
main p {
  font-size: var(--fs-0);
  text-indent: 1.2em;
  color: var(--clr-text);
  line-height: var(--line-height);
}
main .post_info {
  font-size: var(--fs-0);
  line-height: var(--fs-1);
  color: var(--clr-secondary-text);
  padding: 0 0 0.6em;
}
main .post_info .created::before {
  content: "📆";
  margin-right: 4px;
}
main .post_info .updated::before {
  content: "✍";
  margin-right: 4px;
}
main .post_info .splitter {
  margin: 0 0.6em;
  color: var(--clr-secondary-text);
  font-weight: 700;
}
main .post_info .tag {
  text-wrap: nowrap;
  margin-right: 0.4em;
}
main .post_info .tag::before {
  display: inline-block;
  font-size: var(--fs--2);
  transform: rotate(45deg);
  content: "𖤘";
  padding: 0 0.4em;
}
main .comment_form {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
main .comment_form .comment_author,
main .comment_form .comment_message {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs--1);
  display: block;
  border: 1px solid var(--clr-header-bg);
  background-color: var(--clr-header-bg-opc);
  border-radius: var(--br);
  outline: 0;
  padding: 0.6em 1em;
  width: clamp(320px, var(--content-min-width), 62%);
}
main .comment_form .comment_message {
  border-bottom-right-radius: 0.4em;
}
main .comment_messages .comment {
  border: 1px solid var(--clr-secondary-text);
  border-radius: var(--br);
  padding: 0.6em 1em;
}
main .comment_messages .comment .author_name::before {
  content: "👤";
  margin-right: 0.4em;
}
main .comment_messages .comment .message_text::before {
  content: "💬";
  margin-right: 0.4em;
}
main .btn {
  padding: 0.4em 1.6em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: var(--br);
  outline: 0;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-secondary-text);
  color: var(--clr-bg);
  cursor: pointer;
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs--2);
  font-weight: 400;
  transition: background-color var(--tr-time) ease-out;
}
main .btn:hover {
  background-color: var(--clr-text);
  transition: background-color var(--tr-time) ease-out;
}

.pagination {
  margin-top: 2em;
}
.pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer {
  font-size: var(--fs--2);
  color: var(--clr-secondary-text);
  padding-bottom: 1em;
}/*# sourceMappingURL=main.css.map */