{% load static %}

<!DOCTYPE html>
<html lang="uk">
  {% include 'blog/head.html' %}

  <body class="content-grid dark-theme">
    <!--  -->
    {% include 'blog/information.html' %}

    {% include 'blog/header.html' %}

    <main>
      {% block page_content %}

      {% endblock %}
      {% block image_upload %}

      {% endblock %}

      {% block pagination %}

      {% endblock %}
    </main>

    {% include 'blog/footer.html' %}

    <script src="{% static 'js/main-script.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
  </body>
</html>
