{% load static %}

<!DOCTYPE html>
<html lang="uk">
  {% include 'blog/head.html' %}

  <body class="content-grid dark-theme">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQ7TM28W" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include 'blog/categories_list.html' %}

    {% include 'blog/information.html' %}

    {% include 'blog/header.html' %}

    <main class="">
      {% block page_content %}

      {% endblock %}
      {% block image_upload %}

      {% endblock %}

      {% block pagination %}

      {% endblock %}
    </main>

    {% include 'blog/footer.html' %}
    <div id="menu_bg" class="hide"></div>
    <script src="{% static 'js/main-script.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/uploader.js' %}"></script>
  </body>
</html>
