{% block comments %}
  <div class="comments">
    <h3>Залиште коментар:</h3>
    <form method="post">
      {% csrf_token %}
      <div>{{ form.author }}</div>
      <div>{{ form.message }}</div>
      <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
    {% if comments %}
      <h3>Коментарі:</h3>
      {% for comment in comments %}
        <p>
          {{ comment.created_on.date }} <b>{{ comment.author }}</b> написав(ла):
        </p>
        <p>{{ comment.message|safe }}</p>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
