{% block comments %}
  <div class="comments">
    <h3>Залиште коментар:</h3>
    <form method="post" class="comment_form">
      {% csrf_token %}
      {{ form.author }}
      {{ form.message }}
      <button type="submit" class="btn">Зберегти</button>
    </form>
    {% if comments %}
      <div class="comment_messages">
        <h3>Коментарі:</h3>
        {% for comment in comments %}
          <div class="comment">
            <p>
              {{ comment.created_on.date }} <b>{{ comment.author }}</b> написав(ла):
            </p>
            <p>{{ comment.message|safe }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
