{% load static %}

<header class="full-width" aria-label="Site header conatiner">
  <div class="wrapper">
    <div id="logo">
      <a href="{% url 'blog_index' %}" title="На головну сторінку"><img src="{% static 'img/logo3_icon.svg' %}" alt="" /></a>
      <div class="logoletters">
        <a href="{% url 'blog_index' %}" title="На головну сторінку">СВС</a>
        <small class="desc">
          <span>Computer graphics</span>
          <span>Batik</span>
          <span>Color theory</span>
        </small>
      </div>
    </div>
    <nav aria-label="Pages list">
      <a href="{% url 'blog_index' %}">Головна</a>

      <a href="{% url 'page_detail' 'about_me' %}">Про мене</a>

      <a href="{% url 'page_detail' 'contacts' %}">Контакти</a>
    </nav>
    <form action="{% url 'theme_toggle' %}" method="post">
      {% csrf_token %}
      <button type="submit" id="theme_toggle_btn" aria-label="Switch theme">
        {% if request.session.theme == 'light' %}
          <img src="{% static 'img/moon_icon.svg' %}" alt="Перемкнути на темну тему" title="Перемкнути на темну тему" />
        {% else %}
          <img src="{% static 'img/sun_icon.svg' %}" alt="Перемкнути на світлу тему" title="Перемкнути на світлу тему" />
        {% endif %}
      </button>
    </form>
  </div>
</header>
