{% load static %}

<header class="full-width" aria-label="Page header conatiner">
  <nav aria-label="Pages list">
    <div id="logo">
      <a href="{% url 'blog_index' %}"><h1>СВС</h1></a>
    </div>
    <ul>
      <li>
        <a href="{% url 'blog_index' %}">Головна</a>
      </li>
      <li>
        <a href="{% url 'page_detail' 'about_me' %}">Про мене</a>
      </li>
      <li>
        <a href="{% url 'page_detail' 'contacts' %}">Контакти</a>
      </li>
      <li>
        <img src="{% static 'img/sun_icon.svg' %}" alt="" id='theme_toggle_btn'/>
      </li>
    </ul>
  </nav>
</header>
