{% extends 'blog/base.html' %}
{% load index %}
{% block page_content %}
  <section class="posts_list">
    <div class="posts_list">
      {% if category %}
        <span>Дописи у розділі</span><h1>«{{ category }}»</h1><hr />
      {% else %}
        {% comment %} <h1>Усі дописи</h1>
        <hr /> {% endcomment %}
      {% endif %}

      {% for post in posts %}
        <div class="post_preview">
          <h2><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h2>

          {{ prev_images|index:forloop.counter0|safe }}

          {% include 'blog/post_info.html' %}
          <div class="content_preview">{{ post.content|safe }}</div>

          {% comment %}|slice:':200'{% endcomment %}
        </div>
      {% endfor %}
    </div>
    {% include 'blog/pagination.html' %}
  </section>
{% endblock %}
