<!-- blog/templates/blog/index.html -->

{% extends 'blog/base.html' %}
{% block page_content %}
  {% include 'blog/categories_list.html' %}
  <section class="posts_list">
    <div class="posts_list">
      {% if category %}
        <span>Дописи у розділі</span><h2>«{{ category }}»</h2>
      {% else %}
        <h2>Дописи у часописі</h2>
      {% endif %}

      {% for post in posts %}
        <h2><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h2>
        <small>
          {{ post.created_on.date }} | Розділ:{% for category in post.category.all %}
            <a href="{% url 'blog_category' category.slug %}">{{ category.name }}</a>
          {% endfor %}
        </small>
        <p>{{ post.content|slice:':300'|safe }}...</p>
      {% endfor %}
    </div>
    {% include 'blog/pagination.html' %}
  </section>
{% endblock %}
