{% extends 'blog/base.html' %}
{% block page_content %}
  {% include 'blog/categories_list.html' %}
  <section class="posts_list">
    <div class="posts_list">
      {% if category %}
        <span>Дописи у розділі</span><h1>«{{ category }}»</h1><hr />
      {% else %}
        <h1>Усі дописи</h1>
        <hr />
      {% endif %}

      {% for post in posts %}
        <div class="post_preview">
          <h2><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h2>
          {% include 'blog/post_info.html' %}
          <div class="content_preview">{{ post.content|slice:':400'|safe }}...</div>
        </div>
      {% endfor %}
    </div>
    {% include 'blog/pagination.html' %}
  </section>
{% endblock %}
